/* regole generali */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: pt-sans, open-sans, sans-serif;
}

h2 {
    margin: 1em 0;
}

img {
    width: 100%;
    display: block;
}

button {
    background-color: #0084FD;
    border: none;
    padding: 1em;
    border-radius: 20px;
    margin: 2em 0;
    font-weight: 700;
}

/* navigazione */
header {
    background-color: #0084FD;
    width: 100%;
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0;
}

#navigazione {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#navigazione i {
    font-size: 28px;
}

#navigazione img {
    height: 40px;
    width: 80px;
}

/* main */

/* regole generali section */
#first-section {
    margin: 8em auto 3em;
}

.rowsone {
    width: 88%;
    margin: 0 auto;
}

/* regole generali card */
.content {
    background-color: #B5DDFF;
    border-radius: 20px;
    margin: 1em 0;
}

.content h2 {
    color: #0084FD;
}

.content p {
    font-weight: 600;
    color: #4C5D6B;
}

.content button {
    width: 80%;
    color: white;
}

/* big card */
.big {
    padding: 2em 2em 0;
}

.fa-apple {
    margin-right: 0.4em;
}


/* small card */
.small {
    text-align: center;
    padding: 2em;
}

.content .fa-solid {
    color: #0084FD;
    font-size: 60px;
}

/* sezione 2 */
.purple-section {
    background-color: #9792E4;
    padding: 2em 0;
}

/* container 1 */
.purple-section .first-container {
    width: 88%;
    margin: 0 auto;
    color: white;
}

.purple-section .second-container {
    width: 88%;
    margin: 2em auto;
    background-color: #fff;
    border-radius: 40px;
    text-align: center;
}

.second-container p {
    padding: 0 1em;
}

.second-container button {
    padding: 0.8em 1em;
    border-radius: 40px;
    font-size: 24px;
}


/* sezione 3 */
#third-section {
    width: 88%;
    text-align: center;
    margin: 0 auto;
    padding: 2em 0;
}

/* text */
.text-container h2 {
    color: #9792E4;
}

.text-container span {
    font-weight: 200;
}

.text-container p {
    font-weight: 600;
    line-height: 180%;
}


/* testimonial card */
#third-section .testimonial-container {
    background-color: #9792E4;
    border-radius: 40px;
    padding: 2em;
    color: white;
    margin: 2em 0;
}

.testimonial-container .img {
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1.5em;
}

/* bgimg testimonial */
.img1 {
    background-image: url(../img/testimonial1.jpg);
}
.img2 {
    background-image: url(../img/testimonial2.jpg);
}
.img3 {
    background-image: url(../img/testimonial3.jpg);
}


.testimonial-container p {
    line-height: 180%;
}

.testimonial-container h3 {
    margin: 1.5em 0 0;
}

/* sezione 4 */

.fourth-section {
    color: white;
    text-align: center;
}


/* card */
.first-benefit-card-container {
    color: black;
    text-align: left;
    width: 88%;
    margin: 0 auto;
    padding: 1em;
    background-color: #fff;
    border-radius: 20px;
}