* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* navigazione */
header {
    background-color: #0084FD;
    width: 100%;
    padding: 1em;
}

#navigazione {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#navigazione i {
    font-size: 28px;
}

#navigazione img {
    height: 40px;
}

/* main */
.rowsone {
    width: 88%;
    margin: 2em auto 3em;
}

.big img {
    width: 100%;
}

.content {
    background-color: #B5DDFF;
    border-radius: 20px;
    padding: 2em 2em 0;
    margin: 1em 0;
}

.content h2 {
    color: #0084FD;
    margin-bottom: 1em;
}


.content button {
    color: white;
    background-color: #0084FD;
    border: none;
    width: 80%;
    padding: 1em;
    border-radius: 20px;
    margin: 2em 0;
    font-weight: 700;
}

.fa-apple {
    margin-right: 0.4em;
}