* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* navigazione */
header {
    background-color: #0084FD;
    width: 100%;
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0;
}

#navigazione {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#navigazione i {
    font-size: 28px;
}

#navigazione img {
    height: 40px;
}

/* main */

/* regole generali section */
#first-section {
    margin: 8em auto 3em;
}

.rowsone {
    width: 88%;
    margin: 0 auto;
}

/* regole generali card */
.content {
    background-color: #B5DDFF;
    border-radius: 20px;
    margin: 1em 0;
}

.content h2 {
    color: #0084FD;
    margin: 1em 0;
}

.content p {
    font-weight: 600;
}

.content button {
    color: white;
    background-color: #0084FD;
    border: none;
    width: 80%;
    padding: 1em;
    border-radius: 20px;
    margin: 2em 0;
    font-weight: 700;
}

/* big card */
.big {
    padding: 2em 2em 0;
}

.big img {
    width: 100%;
    display: block;
}

.fa-apple {
    margin-right: 0.4em;
}


/* small card */
.small {
    text-align: center;
    padding: 2em;
}

.content .fa-solid {
    color: #0084FD;
    font-size: 60px;
}